<div class="center jumbotron">
	<h1>
		Welcome to Base Ingreso
	</h1>

	<h2>
		Lanzador de ingresos
	</h2>

	<%= link_to "Ingresa ingreso", ingresos_new_url, class: "btn btn-lg btn-primary" %>
</div>
